{% extends 'projects_app/base.html' %}
{% load static %}

{% block content %}
<h1>{{project.title}}</h1>
<div class="col-md-8">
    <img class="card-img-top" src="{% static project.image %}" alt="{{ project.description }}">
</div>
<div class="col-md-4">
    <h5>About</h5>
    <p>{{project.description}}</p>
    <h5>Built with:</h5>
    <p>{{project.technology}}</p>
</div>

{% endblock %}